<div *ngIf="showFAQ" class="col-md-8 col-md-offset-2"> <!--Show faq *ngIf="showFAQ" -->
    <a class="btn btn-primary" (click)="showQuestionForm()">Still spørsmål</a>
    <h1 class="text-center">FAQ</h1>
    <div *ngIf="loading">Laster spørsmål...</div>
   
    <div class="list-group">
        <div class="list-group-item" *ngFor="let category of allCategories">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#{{category.ID + '_ul'}}">{{category.Type}}</a>
            </h4>

            <div class="collapse" id="{{category.ID + '_ul'}}">
                <h4 *ngIf="category.Questions?.length == 0" class="panel-title">Det er ingen spørsmål i kategorien enda.</h4>
                <div *ngIf="category.Questions?.length > 0">

                    <div *ngFor="let question of category.Questions">
                        <a data-toggle="collapse" href="#{{category.ID + '_' + question.ID + '_ul'}}">{{question.Quest}}</a>
                        <div class="panel-collapse collapse" id="{{category.ID + '_' + question.ID + '_ul'}}">
                            <div *ngIf="(question.Person | json) != '{}'">Stilt av: {{question.Person}}</div>
                            <div *ngIf="(question.Answer | json) != '{}'">Svar: {{question.Answer}}</div>
                            <div *ngIf="!question.Answer">
                                <button *ngIf="!isAnsweringQuestion" class="btn btn-danger btn-xs" (click)="showAnswerQForm()">Besvar spørsmål</button>
                                <form *ngIf="isAnsweringQuestion" [formGroup]="answerForm" (ngSubmit)="answerQuestion(question)">
                                    <input type="text" formControlName="Answer" />
                                    <button type="submit" class="btn btn-success btn-xs">Besvar</button> <!--[disabled]="!form.valid"-->
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="submitQ" class="col-md-8 col-md-offset-2"> <!--Submit new question *ngIf="submitQ" -->
    <form [formGroup]="form" (ngSubmit)="submitQuestion()">
        <input class="form-control" formControlName="ID" type="hidden" />
        <div class="form-group">
            <label>Fornavn</label>
            <input class="form-control" formControlName="Firstname" />
            <p class="alert alert-warning" [hidden]="form.controls.Firstname.valid || (form.controls.Firstname.pristine && !submitted)">
                Fornavn er obligatorisk, og må minst være to bokstaver.
            </p>
        </div>
        <div class="form-group">
            <label>Etternavn</label>
            <input class="form-control" formControlName="Lastname" />
            <p class="alert alert-warning" [hidden]="form.controls.Lastname.valid || (form.controls.Lastname.pristine && !submitted)">
                Etternavn er obligatorisk, og må minst være to bokstaver.
            </p>
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input class="form-control" formControlName="Email" />
            <p class="alert alert-warning" [hidden]="form.controls.Email.valid || (form.controls.Email.pristine && !submitted)">
                Email er obligatorisk, og kan ikke inneholde spesialtegn som for eksempel (!"¤#$).
            </p>
        </div>
        <div class="form-group">
            <label>Spørsmål</label>
            <input class="form-control" formControlName="Question" />
            <p class="alert alert-warning" [hidden]="form.controls.Question.valid || (form.controls.Question.pristine && !submitted)">
                Spørsmål må fylles inn, og Kan ikke inneholde spesialtegn tom (#¤$%). Spørsmål må også avslutte med '?'
            </p>
        </div>
        <div class="form-group">
            <label>Kategori</label>
            <select class="form-control" formControlName="Category">
                <option *ngFor="let category of allCategories" [value]="category.ID">{{category.Type}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Still spørsmål</button> <!--[disabled]="!form.valid"-->
        <button class="btn btn-warning" (click)="showQuestionForm()">Avbryt</button>
    </form>
</div>