<h1 class="text-center">FAQ</h1>
<div *ngIf="showFAQ" class="col-md-8 col-md-offset-2"> <!--Show faq *ngIf="showFAQ" -->
    <a class="btn btn-primary" (click)="showQuestionForm()">Still spørsmål</a>
    <div *ngIf="loading">Laster spørsmål...</div>
    <table class="table">
        <thead class="thead">
            <tr>
                <th>Spørsmål</th>
                <th>Svar</th>
                <th>Kategori</th>
                <th>Person</th>
            </tr>
        </thead>
        <tbody *ngFor="let question of allQuestions">
            <tr>
                <td>{{question.Quest}}</td>
                <td>{{question.Answer}}</td>
                <td>{{question.QuestionType.Type}}</td>
                <td>{{question.Person.Firstname + " " + question.Person.Lastname}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="submitQ" class="col-md-8 col-md-offset-2"> <!--Submit new question *ngIf="submitQ" -->
    <form [formGroup]="form" (ngSubmit)="submitQuestion()">
        <input class="form-control" formControlName="ID" type="hidden" />
        <div class="form-group">
            <label>Fornavn</label>
            <input class="form-control" formControlName="Firstname" />
            <p class="alert alert-warning" [hidden]="form.controls.Firstname.valid || (form.controls.Firstname.pristine && !submitted)">
                Fornavn er obligatorisk, og må minst være to bokstaver.
            </p>
        </div>
        <div class="form-group">
            <label>Etternavn</label>
            <input class="form-control" formControlName="Lastname" />
            <p class="alert alert-warning" [hidden]="form.controls.Lastname.valid || (form.controls.Lastname.pristine && !submitted)">
                Etternavn er obligatorisk, og må minst være to bokstaver.
            </p>
        </div>
        <div class="form-group">
            <label>Spørsmål</label>
            <input class="form-control" formControlName="Question" />
            <p class="alert alert-warning" [hidden]="form.controls.Question.valid || (form.controls.Question.pristine && !submitted)">
                Spørsmål må fylles inn, og må minst være to bokstaver.
            </p>
        </div>
        <div class="form-group">
            <label>Kategori</label>
            <select class="form-control" formControlName="QuestionType">
                <option *ngFor="let category of allQuestionTypes" [value]="category.ID">{{category.Type}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Still spørsmål</button>
        <button class="btn btn-warning" (click)="showQuestionForm()">Avbryt</button>
    </form>
</div>